.speech {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

.stage-direction {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    background-color: lightblue;
}

.stage-direction:hover {
    background-color: lightpink;
    color: forestgreen;
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

.gwendolen {
    color: maroon;
}

.cecily {
    color: tomato;
}

.algernon {
    color: teal;
}

table {
    border: solid 3px brown;
    width: 35%;
    border-collapse: collapse;
    margin: 5px;
}

th, td {
    border: solid 1px;
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.name:hover {
    text-shadow: 2px 3px 4px rosybrown;
    border: solid 2px gainsboro;
}

ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li {
    float:left;
    color:#000;
    background-color:purple
}
ul.navbar-horizontal a {
    display:block;
    padding:8px;
}
ul.navbar-horizontal a:hover {
    background-color: #555;
    color:white;
}